#video_intro {
	height: 90vh;
	object-fit: cover;
}

.priser_button {
	position: relative;
	left: 38vw;
	top: -5vw;
	padding
}

.bestil_button {
	position: relative;
	left: 43vw;
	top: -5vw;
}

a.knap {
	color: #697654;
	font-size: 1.2rem;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.9);
	border: none;
	cursor: pointer;
	padding: 1vw 3vw;
}


a:hover.knap {
	color: #d4dbce;
}

#section1 p {
	text-align: center;
}

h2 {
	text-align: center;
	padding: 3rem 0;
}

#section2 {
	background-color: #faebd7;
}

#section2 h2 {
	text-transform: none;
	font-weight: 500;
}

#section2 h3 {
	text-transform: none;
}

#section3 h2 {
	text-transform: none;
}

@media only screen and (min-width: 768px) {
	.grid-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}

	.grid-3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
	}
}
