#video_intro {
	height: 90vh;
	object-fit: cover;
}

.video_knapper_position {
	position: relative;
	bottom: 25vw;
	margin: 0 auto;
	text-align: center;

}

.priser_button {
	margin: 10px;
}

.bestil_button {
	margin: 10px;
}

a.knap {
	color: #3f4a29;
	font-size: 1.5rem;
	border-radius: 1.5rem;
	background-color: rgb(253 245 235 / 82%);
	border: none;
	cursor: pointer;
	padding: 2vw 4vw;
	box-shadow: 0.01px 2px 5px #80776e2e;
}

a:hover.knap {
	color: #3f4a298c;
}

#section1,
#section1 p {
	text-align: center;
	background-color: white;
}

h1 {
	margin: 0 0 3rem 0;
}

h2 {
	text-align: center;
	padding: 3rem 0;
}

#section2 {
	background-color: #d0d0c0;
}

#section2 .column {
    margin-bottom: 2rem;
}
#section2 .column img {

	margin-bottom: 1rem;
	box-shadow: 2px 1px 10px #63636336;
	border-bottom: 20px solid #FCF3E9;
}


#section2 h2 {}

#section2 h3 {}

#section3 {
	background-color: #FCF3E9;
	box-shadow: 5px 5px 10px #3834308f;

}

#logo_left {
	height: 2rem;
	height: auto;
	overflow: auto;
	width: 50%;
	margin: 0 auto
}

#logo_right {
	height: auto;
	width: 55%;
	margin: 0 auto;
}

#logo_kevin {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.grid-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 0;
	}

	#section3 h2 {
		padding: 3rem 0 1rem 0;
	}

    #section2 .column {
    margin-bottom: 0;
}

	.grid-3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2.5rem;
	}

	.video_knapper_position {
		position: relative;
		bottom: 10vw;
		margin: 0 auto;
		text-align: center;
	}

	a.knap {
		color: #3f4a29;
		font-size: 1.2rem;
		border-radius: 1.5rem;
		background-color: rgb(253 245 235 / 82%);
		border: none;
		cursor: pointer;
		padding: 1vw 3vw;
		box-shadow: 0.01px 2px 5px #80776e2e;
	}
}
