#section1 p {
	text-align: center;
}

h2 {
	text-align: center;
	padding: 3rem 0;
}

#section2 {
	background-color: #faebd7;
}

#section2 h2 {
	text-transform: none;
	font-weight: 500;
}

#section2 h3 {
	text-transform: none;
}

#section3 h2 {
	text-transform: none;
}

@media only screen and (min-width: 768px) {
	.grid-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}

	.grid-3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
	}
}
