* {
    padding:0;
    margin:0;
}

/* GENERELT */
html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #f7f7f7;
}

img {
	width: 100%;
}

body {
	margin: 0;
	position: relative;
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 1rem;
}


/* TEKST OG LINKS */
h1 {
	text-align: center;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

p {
	text-align: left;
}

/* links */
a {
	text-decoration: none;
}

/* unvisited link */
a:link {
	color: #000;
}

/* visited link */
a:visited {
	color: #000;
}

/* mouse-over link */
a:hover {
	color: #697654;
}

/* selected link */
a:active {
	color: #000;
}


/* ELEMENTER */
/* Header */
header {
	position: absolute;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);
	color: #697654;
	width: 100%;
	box-shadow: 5px 0px 10px grey;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#logo {
	width: 6rem;
}

#burgermenu {
	background: none;
	color: #697654;
	border: none;
	padding: 0.5rem;
	margin-right: -0.5rem;
	width: 3rem;
	height: 3rem;
}

a.online_button {
	color: #fff;
	font-size: 1rem;
	border-radius: 1.5rem;
	background-color: #697654;
	border: none;
	cursor: pointer;
	padding: 1rem;
}

a:hover.online_button {
	color: #d4dbce;
}

/* Navigation mobil og Ipad højformat */
@media (max-width: 767px) {
	.hide_on_mobile {
		display: none
	}

	a.online_button {
		color: #000;
		background: none;
		padding: 1rem 0;
	}

	.on {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #f7f7f7;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		text-align: right;
	}

	nav a {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

/* Navigation Ipad bredformat + desktop */

@media (min-width: 768px) {
	.hide_on_desktop {
		display: none;
	}

	.nav {
		writing-mode: horizontal-tb;
		transform: none;
		text-align: center;
		flex-direction: row;
		position: relative;
	}

	nav a {
		margin-left: 1rem;
	}
}

/* Footer */
#footer {
	background-color: #6B7754;
	color: #fff;
}

#footer h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #d4dbce;
}

#footer p {
	color: #fff;
	font-size: 0.8rem;
}

.copyright {
	text-align: center;
	color: #fff;
}

ul {
	list-style: none;
	padding-left: 0;
	font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
	.footer_grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
	}
}
