body {
	font-family: 'Spartan', sans-serif;
	background-color: #d0d0c0;
}

h1 {
	font-family: 'Spartan', sans-serif;
	font-size: 2rem;
	margin: 2rem 0;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
}

h2 {
	font-family: 'Spartan', sans-serif;
	font-size: 1.3rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
	font-weight: 300;
}

main p {
	margin-top: 1.2rem;
}

#zero_section {
	background-color: white;
	padding-top: 8rem;
}

#zero_section .section_wrapper {
	box-shadow: none;
	margin-bottom: 0;
	border: none;
}

#zero_section .image {
	background-color: #6b7754;
	padding: 15px 0 0 15px;

}

#zero_section .image img {
	position: relative;
	top: 8px;
	left: 15px;
	box-shadow: 1px 1px 10px #adacacb8;
}

#zero_section .text {
	padding-left: 4rem;
}

#first_section {
	background-color: #d0d0c0;
	padding: 5rem 0 5rem 0;
}

.section_wrapper {
	/*
    display: grid;
    grid-template-columns: 2fr 3fr;
*/
	margin-bottom: 40px;
	background-color: white;
	box-shadow: 0px 5px 10px #27272714;
	border-bottom: 20px solid #FCF3E9;
}


.section_wrapper_right {
	/*
    display: grid;
    grid-template-columns: 3fr 2fr;
*/
	margin-bottom: 40px;
	background-color: white;
	box-shadow: 0px 5px 10px #27272714;
}

main .col h2 {
	text-align: left;
}

#second_section {
	background-color: white;
	padding: 2rem 0 2rem 0;
	border-bottom: 20px solid #FCF3E9;
	/*
    width: auto;
    display: flex;
    margin: auto;
*/
}

#second_section h2 {
	text-align: center;
	padding-top: 20px;
}

#second_section p {
	padding-top: 2.5vw;
	text-align: center;
	padding-left: 20vw;
	padding-right: 20vw;
}

#third_section .section_wrapper {
	background-color: #d0d0c0;
	border: none;
	margin: 0;
	padding: 2rem 0 5rem 0;

}

#third_section h2 {
	text-align: center;
	padding-top: 20px;
}


#third_section p {
	text-align: center;

}

.hide {
	display: none;
}

.show {
	display: block;
}

.opacity {
	opacity: 0.3;
}

#knap_left {
	width: 30px;
	margin: 0 auto;
}

#knap_right {
	width: 30px;
	margin: 0 auto;
}

.slide {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

strong {
	line-height: 4rem;
}


/*
#third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0px 5px 10px #27272714;
}
*/


#fourth_section .container {
	background-color: #FCF3E9;
	max-width: 1000px;
}

.text {
	padding-top: 40px;
	padding-left: 25px;
	padding-right: 25px;
    padding-bottom: 20px;
}


/*
#image_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
*/

main img {
	display: block;
}

#first_section img {
	border: 0.5rem solid #fcf3e9;
}


#fourth_section {
	text-align: center;
	background-color: #FCF3E9;
	margin: 0;
	box-shadow: 0px 5px 10px #27272714;
}

#fourth_section .container {
	padding: 3rem 1rem 2rem 1rem;
}


#fourth_section p {
	text-align: center;
	font-family: 'Spartan', sans-serif;
	font-weight: 200;
	margin: 2vw;
}

#fourth_section input {
	border: none;
	background-color: #3f4a29;
	border-radius: 1.5rem;
	padding: 3vw 5vw;
	font-size: 1.5rem;
	color: #fff;
	box-shadow: 1px 1px 3px #a0a0a0;
	letter-spacing: 0.1rem;
	margin: 5px 0 10px 0;
	font-family: 'Spartan', sans-serif;
	font-weight: 200;
}

/*---- footer ----*/

footer {
	padding: 5px 0 20px 0;
	text-align: left;
}

footer table {
	width: 100%;
	text-align: left;
}

footer td {
	font-weight: 300;
	letter-spacing: 0.03rem;
	padding-bottom: 0.7rem;
	font-size: 0.85rem;
}

footer h3 {
	text-align: left;
	letter-spacing: 0.07rem;
	line-height: 3rem;
	font-size: 1rem;
}


footer li {
	line-height: 1.4rem;
}

/*
.icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    max-width: 5rem;
    margin: 0 auto;
    margin-top: 20px;
}
*/

.icon img {
	width: 100%;
}

.icon img:hover {
	opacity: 0.7;
}

.copyright {
	padding-top: 15px;
	border-top: 1px solid #adacac;
}

@media (min-width:768px) {
	#first_section {
		background-color: #d0d0c0;
		padding: 5rem 0 0 0;
	}

	.section_wrapper {
		display: grid;
		grid-template-columns: 2fr 3fr;
		margin-bottom: 40px;
		background-color: white;
		box-shadow: 0px 5px 10px #27272714;
	}

	#wrapper_right {
		direction: rtl;
	}

	#third_section .section_wrapper {
		display: grid;
		grid-template-columns: 1fr;
		padding: 2rem 0 5rem 0;
		box-shadow: 0px 5px 10px #27272714;
	}

	#image_container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.icon {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 15px;
		max-width: 5rem;
		margin: 0 auto;
		margin-top: 20px;
	}

	#fourth_section input {
		font-size: 1rem;
		padding: 1vw 3vw;
		font-weight: 300;
	}

	#fourth_section input:hover {
		opacity: 0.8;
	}
}
